<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<body>

	<div class="wrapper">

		<div layout:fragment="side_menu" class="first">

			<p>
				<a th:href="@{/admin}">Admin</a>
			</p>

			<p>
				<a th:href="@{/room}">Rooms</a>
			</p>
			<p>
				<a th:href="@{/roomRate}">Room Rates</a>
			</p>

			<p>
				<a th:href="@{/user}">Users</a>
			</p>

			<p>
				<a th:href="@{/amenity}">Amenities</a>
			</p>

		</div>

	</div>

</body>



</html>

