<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mycss.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<header th:replace="fragments/header :: header"></header>

	<div class="wrapper">
		<div layout:fragment="side_menu" class="first">
			<p>
				<a th:href="@{/dashboard}">Dashboard</a>
			</p>

			<p>
				<a th:href="@{/reservation}">New Reservation</a>
			</p>
		</div>
		
		<div layout:fragment="content" class="second"></div>
	</div>

	<footer>
		<p>My footer</p>
		<p layout:fragment="custom-footer">Custom footer here</p>
	</footer>
	<script type="application/javascript"  th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
	<script type="application/javascript" th:src="@{/js/basic.js}"></script>
</body>

</html>

