asa

h1 {
    color: green;
}

a {
    color: hotpink;
}


.form-control {
    max-width: 550px;
    min-width: 550px;
    width: 550px !important;
}


/* Create two equal columns that floats next to each other */
.column {
    float: left;
 /*    width: 50%; */
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



.wrapper {
    overflow: auto; /* add this to contain floated children */
}
.first {
    float:left; /* add this */
}
.second {
}