<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<form action="#" th:action="@{/addAmenity}" th:object="${amenity}"
		method="post">
		<p>
			Name: <input type="text" th:field="*{name}" />
		</p>
		<p>
			Description: <input type="text" th:field="*{description}" />
		</p>
		<select class="form-control" th:field="${amenity.amenityType}"
			id="dropOperator">
			<!-- <option value="0" th:text="selectoperator"></option> -->
			<option th:each="amenityType : ${amenityTypes}" th:value="${amenityType.id}"
				th:text="${amenityType.name}"></option>
		</select>

		<p>
			<input type="submit" value="Submit" /> 
		</p>
		
		
	</form>
</body>

</html>