<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/mycss.css"/>

</head>

<!--  (${user.isAdmin()} ? 'Administrator' : (${user.type} ?: 'Unknown')) -->


<body>
	<form action="#" th:action="@{/addReservation/withDates}" method="post">
		<p>
			<!-- th:value="${startDate}" -->
			Start Date: <input type="date" name="startDate" th:value="2017-03-09" />
			<!-- 2017-3-9 -->
			End Date: <input type="date" name="endDate" th:value="2017-03-20" />

			<input type="checkbox" name="covered" />

		</p>
		<p>
			<input type="submit" value="Submit" /> >
		</p>
	</form>

	<!--<form th:action="@{/users/doDelete}" th:object="${customer}" method="post">
            <input type="hidden" th:field="${id}" />
            <button type="submit">Delete</button>
        </form> -->

	<form action="#" th:action="@{/addReservation}"
		th:object="${reservation}" method="post">
		<!-- <p>
			userName: <input type="text" th:field="*{userName}" />
		</p>
		<p>
			userName: <input type="text" th:field="*{password}" />
		</p> -->

		<!-- 		<select class="form-control" th:field="${room.roomAmenities}" multiple="multiple"
			id="dropOperator">
			<option value="0" th:text="selectoperator"></option>
			<option th:each="amenity : ${amenities}" th:value="${amenity.id}"
				th:text="${amenity.name}"></option>
		</select> -->

		<!-- need a table or filter by room -->

		<div th:each="roomRateCombo : ${roomRatesPerRoom}">
			<p>
				Room: <label th:text="${roomRateCombo.key.description}"> </label>
			</p>

			<p>
				<select name="wgtmsr" class="form-control" multiple="multiple" size="12" 
					th:field="${reservation.roomRates}" id="dropOperator"  > <!-- onChange="showLimits()" -->
					
					<option th:each="roomRate : ${roomRateCombo.value}"
						th:value="${roomRate.id}" 
						th:text="${roomRate.day} + ' - ' + ${roomRate.value} + ' - ' + ${roomRate.room.description} + ' - ' + ${roomRate.room.roomNumber}"
						th:onClick="'javascript:sayHello(\'' + ${roomRate.value} + '\');'"></option>
				</select>
			</p>

			<!--    			<span th:text="${str}"/>This will print the index value
		    <span th:text="${iterStat.index}"/>This will print the Index -->
		</div>


		<p>
			Guest First Name: <input type="text"
				th:field="${reservation.mainGuest.firstName}" /> Guest Last Name: <input
				type="text" th:field="${reservation.mainGuest.lastName}" />
				
				<!-- change param to be the option field and then whatehr it's selected or ntw add or subtract the value  -->
		</p>
  

		<p>
			<input type="submit" value="Submit" /> >
			<input type="number" id="total" value="0" />
		</p>
		
	</form>
</body>

<!-- <script th:inline="javascript">
            /*<![CDATA[*/
            function showLimits() {
                var services = /*[[${services}]]*/ null;
                var selectedIndex = $("#inputService option:selected").index();
                var service = services[selectedIndex];
                $("#amountLimits").text("Мин. сумма: " + service.amountMin + ", макс. сумма: " + service.amountMax);
            }
            $(function() { showLimits(); });
            /*]]>*/
</script> -->

<script>
	function sayHello(value) {
		var currentTotal = document.getElementById("total").value;
		document.getElementById("total").value=+currentTotal + +value;
	}
</script>




</html>