<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<p th:text="adada"/>

	<p th:text="'Number of URLS: ' + ${numberOfUrls}" />
	
	<p th:i="'Number of URLS: ' + ${numberOfUrls}" />
	
	





<!-- <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form> -->
    
    
 <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
  <p>userName: <input type="text" th:field="*{userName}" /> </p>
   <p>userName: <input type="text" th:field="*{password}" /> </p>
  <p><input type="submit" value="Submit" /> ></p>
</form>


	<!-- <table width="1000">
		<tr>
			<td><label>ID</label></td>
			<td><label>Name</label></td>
			<td><label>Description</label></td>
			<td><label>Enabled</label></td>
		</tr>
		<tr th:each="data, iterstat: ${userTypes}">
			<td th:text="${data.id}" th:id="|td${iterstat.index}|"></td>
			<td th:text="${data.name}" th:id="|td${iterstat.index}|"></td>
			<td th:text="${data.description}" th:id="|td${iterstat.index}|"></td>
			<td th:text="${data.enabled}" th:id="|td${iterstat.index}|"></td>
		</tr>
	</table>
	
	<a th:href="@{/addUsers}">Add Users</a>

	<p th:text="'Total Checks: ' + ${totalChecks}" />
	<p th:text="'Current IP: ' + ${myIp}" /> -->

	 <button th:onclick="'javascript:sayHello(\'hello\')'">Say Hello</button>
</body>

<script>
    function sayHello(text) {
        alert(text);
    }
</script>

</html>