<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/adminLayout">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script th:inline="javascript">

   $(document).ready(function() {
	   $("table").selekt({
		   children: "td",           // Elements to target (default: "tbody tr")
		   className: "selected",    // Desired CSS class  (default: "selected")
		   onSelect: function(sel) { // Useful callback
		     $("span").text(sel.length + ' in ' + this.id);
		   alert(sel.length + ' in ' + this.id);
		   }
		 });
	 });
		</script>
</head>

<body>
		<div layout:fragment="content">
	
		<h2>Totals: </h2>
			<p><label>Rooms:</label> <input readonly="readonly" th:value="${numberOfRooms}"></p>
			<p><label>Reservations:</label> <input readonly="readonly" th:value="${numberOfReservations}"></p>
			
			<h2>Reservations: </h2>
			<p><label>upcoming:</label> <input readonly="readonly" th:value="${reservationsUpcoming}"></p>
			<p><label>starting today:</label> <input readonly="readonly" th:value="${reservationsStartingToday.size()}"></p>
			<p><label>check-out today:</label> <input readonly="readonly" th:value="${reservationsCheckingOutToday.size()}"></p>
	
			<h2>RoomRates: </h2>
			<p><label>all:</label> <input readonly="readonly" th:value="${numberOfRoomRates}">  missing active room rates </p>
	
			<p><label>Charges due today:</label> <input readonly="readonly" th:value="${dueCharges}"> </p>
		

			<p>Seleceted: <span id="info">0</span></p>
			
			
			<h2>adasdas: </h2>
	
			<table id="table_1" >
			  <tr>
			  	<td>1 SELECT ME</td>
			  	<td>1 SELECT ME</td>
			  </tr>
			  <tr><td>2 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>3 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>4 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>5 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>6 SELECT ME</td><td>1 SELECT ME</td></tr>
			  
			</table>
			
			<table id="table_2">
			  <tr><td>1 SELECT ME</td></tr>
			  <tr><td>2 SELECT ME</td></tr>
			  <tr><td>3 SELECT ME</td></tr>
			  <tr><td>4 SELECT ME</td></tr>
			</table>
			
			
		
		
		</div>
	</body>
</html>