<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/mycss.css" />

</head>
<body>

	<p>
		<a th:href="@{/room}">Rooms</a>
	</p>
	<p>
		<a th:href="@{/user}">Users</a>
	</p>

	<p>
		<a th:href="@{/reservation}">Reservations</a>
	</p>

	<p>
		<a th:href="@{/amenity}">Amenities</a>
	</p>

	<p>
		<a th:href="@{/roomRate}">Room Rates</a>
	</p>
	
</body>

</html>