<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/mycss.css" />

</head>
<body>

	<div class="row">
		<div class="column">

			<p>Amenity Types</p>
			<form action="#" th:action="@{/addAmenityType}"
				th:object="${amenityType}" method="post">
				<p>
					Name: <input type="text" th:field="*{name}" />
				</p>
				<p>
					Description: <input type="text" th:field="*{description}" />
				</p>
				<p>
					<input type="submit" value="Submit" />
				</p>

				<div>
					<table width="1000">
						<tr>
							<td><label>Id</label></td>
							<td><label>Name</label></td>
							<td><label>Description</label></td>
						</tr>

						<tr th:each="data, iterstat: ${amenityTypes}">
							<td th:text="${data.id}" th:id="|td${iterstat.index}|"></td>
							<td th:text="${data.name}" th:id="|td${iterstat.index}|"></td>
							<td th:text="${data.description}" th:id="|td${iterstat.index}|"></td>
						</tr>
					</table>
				</div>

			</form>

		</div>

		<div class="column">

			<p>Amenities</p>
			<form action="#" th:action="@{/addAmenity}" th:object="${amenity}"
				method="post">
				<p>
					Name: <input type="text" th:field="*{name}" />
				</p>
				<p>
					Description: <input type="text" th:field="*{description}" />
				</p>
				<select class="form-control" th:field="${amenity.amenityType}"
					id="dropOperator">
					<!-- <option value="0" th:text="selectoperator"></option> -->
					<option th:each="amenityType : ${amenityTypes}"
						th:value="${amenityType.id}" th:text="${amenityType.name}"></option>
				</select>

				<p>
					<input type="submit" value="Submit" />
				</p>

				<div>
					<table width="1000">
						<tr>
							<td><label>Id</label></td>
							<td><label>Name</label></td>
							<td><label>Description</label></td>
							<td><label>AminityType</label></td>
						</tr>

						<tr th:each="data, iterstat: ${amenities}">
							<td th:text="${data.id}" th:id="|td${iterstat.index}|"></td>
							<td th:text="${data.name}" th:id="|td${iterstat.index}|"></td>
							<td th:text="${data.description}" th:id="|td${iterstat.index}|"></td>
							<td th:text="${data.amenityType.name}"
								th:id="|td${iterstat.index}|"></td>
						</tr>
					</table>
				</div>
			</form>
		</div>
	</div>
</body>

</html>