<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/layout">
<body>
	<div layout:fragment="content">
		<!-- 		<p>
			Total: <input th:value="${total}" type="number" readonly="readonly" /> Currency : <input th:value="${currency}" type="text" readonly="readonly" />
		</p> -->

		<div class="column">

			<div th:each="payment : ${reservationPayments}">
				<p>
					Payment: <label th:text="${payment.paymentType} + ' - ' + ${payment.paymentType}"></label>
				</p>

				<div>
					<table>
						<tr>
							<td><label>Charge</label></td>
							<td><label>Price</label></td>
							<td><label>Date</label></td>
						</tr>

						<tr th:each="reservationCharge : ${payment.reservationCharges}">
							<td th:text="${reservationCharge.id}"></td>
							<!-- 						<td th:text="${roomRate.room.description}"></td>
						<td th:text="${roomRate.value}"></td> -->
						</tr>
					</table>
				</div>

				<p>
					Sub Total:
					<!-- <input th:id="'roomRateSelectSubTotal-' + ${roomRateCombo.key.roomNumber}" type="number"  /> -->
				</p>
			</div>

			<a th:id="createPayment" th:href="@{/payment/}+${reservation.id}" th:text="CreatePayment"> </a>

		</div>

		<div class="column">

			<form action="#" th:action="@{/addChargeToReservation/}+${reservation.id}" th:object="${reservationCharge}" method="post">
				<p>
					Charges: <select class="form-control" th:field="${reservationCharge.charge}" id="dropOperator">
						<option th:each="charge : ${charges}" th:value="${charge.id}" th:text="${charge.name} + ' - ' + ${charge.value} + ' ' + ${charge.currency}"></option>
					</select>
				</p>
				
				<p>
					Quantity: <input type="number" name="quantity" th:value="${reservationCharge.quantity == 0} ? '1' : ${reservationCharge.quantity}" >
				</p>
				
				<p>
					<!-- hidden field to make sure the ID gets passed back to the controller when submit is called. -->
					<input type="number" th:field="${reservation.id}" hidden="true" />
				</p>

				<p>
					<input type="submit" value="Add Charge" />
				</p>
			</form>


			<div>
				<table>
					<tr>
						<td><label>Charge</label></td>
						<td><label>Price</label></td>
						<td><label>Currency</label></td>
						<td><label>Quantity</label></td>
					</tr>

					<tr th:each="reservationCharge : ${reservationCharges}">
						<td th:text="${reservationCharge.id}"></td>
						<td th:text="${reservationCharge.charge.value}"></td>
						<td th:text="${reservationCharge.charge.currency}"></td>
						<td th:text="${reservationCharge.quantity}"></td>
					</tr>
				</table>
			</div>

		</div>

	</div>

</body>
</html>