<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div>
		<table>
			<tr>
				<td><label>Id</label></td>
				<td><label>First Name</label></td>
				<td><label>Last Name</label></td>
				<td><label>Start Date</label></td>
				<td><label>End Date</label></td>
				<td><label>Created By</label></td>
				<td><label>Created On</label></td>
				<!-- 		<td><label>Realise</label></td> -->
				<td><label>Cancel</label></td>
			</tr>

			<tr th:each="reservation, iterstat: ${reservations}">
				<td><a th:href="@{/reservation/}+${reservation.id}" th:text="${reservation.id}"> </a></td>
				<td th:text="${reservation.mainGuest.firstName}"></td>
				<td th:text="${reservation.mainGuest.lastName}"></td>
				<td th:text="${reservation.startDate}"></td>
				<td th:text="${reservation.endDate}"></td>
				<td th:text="${reservation.createdOn}"></td>
				<td th:text="${reservation.createdBy}"></td>
				<!-- 				<td>
					<form action="#" th:action="@{/realiseReservation/}+${reservation.id}"
						th:method="get">
						<input type="hidden" name="_method" value="get" />
						<button type="submit">Realise</button>
					</form>
				</td> -->
				<td><a th:id="cancelReservation" th:href="@{/cancelReservation/}+${reservation.id}" th:text="Cancel"> </a></td>
			</tr>
		</table>
	</div>


</body>

<script th:inline="javascript">
	/*<![CDATA[*/

	/*]]>*/
</script>

</html>