<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<head>
<script th:inline="javascript">
	/*<![CDATA[*/
	function calcSubtotal(size) {
		var select = document.getElementById("reservationCharges01");

		var subTotal = 0;

		for (i = 0; i < size; i++) {
			var select = document.getElementById("reservationCharges" + i + "1");

			if (select.checked) {
				var chargeValue = document.getElementById("chargeValue_" + (i +1) );
				var chargeQuantity = document.getElementById("chargeQuantity_" + (i+1));
				
				subTotal = subTotal + +(chargeValue.innerHTML * chargeQuantity.innerHTML);
			}
		}

		document.getElementById("subTotal").value = subTotal;
	}
	/*]]>*/
</script>
</head>

<body>
	<div layout:fragment="content">
		<p>
			Total: <input th:value="${total}" type="number" readonly="readonly" />
			Currency : <input th:value="${currency}" type="text"
				readonly="readonly" />
		</p>

		<div class="column">
			<form action="#" th:action="@{/createPayment/}+${reservation.id}"
				th:object="${payment}" method="post">
				<p>
					Payment Types: <select class="form-control"
						th:field="${payment.paymentType}" id="dropOperator">
						<option th:each="paymentType : ${formsOfPayment}"
							th:value="${paymentType.toString()}"
							th:text="${paymentType.toString()}"></option>
					</select>
				</p>

				<div>
					<table>
						<tr>
							<td><label>Select</label></td>
							<td><label>Price</label></td>
							<td><label>Quantity</label></td>
						</tr>

						<tr th:each="reservationCharge, stat : ${outstandingCharges}">
							<td><input type="checkbox"
								th:value="${reservationCharge.charge.value}"
								th:field="*{reservationCharges[__${stat.index}__]}"
								th:onclick="'javascript:calcSubtotal(\'' + ${outstandingCharges.size()} +'\');'" />
								<label th:text="${reservationCharge.charge.name}"></label></td>

							<td><label  th:id="chargeValue_+${reservationCharge.id}"  th:text="${reservationCharge.charge.value}"></label>
							</td>
							<td><label th:id="chargeQuantity_+${reservationCharge.id}"th:text="${reservationCharge.quantity}"></label>
							</td>
						</tr>
					</table>
				</div>

				Sub Total: <input id="subTotal" type="text" readonly="readonly">
				<p>
					<input type="submit" value="Create Payment" />
				</p>
			</form>

		</div>

		<div class="column"></div>
	</div>
</body>
</html>