<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/layout">

<body>
	<div layout:fragment="content">

		<div class="column">

			<p>
				Total: <input th:value="${total}" type="number" readonly="readonly" /> Currency : <input th:value="${currency}" type="text" readonly="readonly" />
			</p>
			
			<div>
				<table>
					<tr>
						<td><label>Date</label></td>
						<td><label>Room</label></td>
						<td><label>Price</label></td>
					</tr>

					<tr th:each="roomRate, iterstat: ${reservation.roomRates}">
						<td th:text="${roomRate.day}"></td>
						<td th:text="${roomRate.room.description}"></td>
						<td th:text="${roomRate.value}"></td>
					</tr>
				</table>
			</div>

			<form action="#" th:action="@{/addOccupant/}+${reservation.id}" th:object="${reservation}" method="post">
				<p>
					First Name: <input th:field="${guest.firstName}" type="text" /> Last Name : <input th:field="${guest.lastName}" type="text" />
				</p>
				<p>
					Address : <input th:field="${guest.contact.address}" type="text" />
				</p>
				<p>
					Country : <select class="form-control" th:field="${guest.contact.country}">
						<option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
					</select>
				</p>
				<p>
					Id Type: <select class="form-control" th:field="${guest.identification.idType}">
						<option th:each="idType : ${idTypes}" th:value="${idType.toString()}" th:text="${idType.toString()}"></option>
					</select> ID Number : <input th:field="${guest.identification.idNumber}" type="text" />
				</p>

				<p>
					<!-- hidden field to make sure the ID gets passed back to the controller when submit is called. -->
				<!-- 	<input type="number" th:field="${reservation.id}" hidden="true" /> -->
				</p>
				<p>
					<input type="submit" value="Submit" />
				</p>
			</form>

			<div>
				<table>
					<tr>
						<td><label>First Name</label></td>
						<td><label>Last Name</label></td>
						<td><label>Address</label></td>
						<td><label>Country</label></td>
						<td><label>ID Type</label></td>
						<td><label>ID Number</label></td>
						<td><label>Delete</label></td>
					</tr>

					<tr th:each="guest, iterstat: ${reservation.occupants}">
						<td th:text="${guest.firstName}"></td>
						<td th:text="${guest.lastName}"></td>
						<td th:text="${guest.contact.address}"></td>
						<td th:text="${guest.contact.country}"></td>
						<td th:text="${guest.identification.idType}"></td>
						<td th:text="${guest.identification.idNumber}"></td>
						<td>
							<form action="#" th:action="@{/deleteContact/}+${guest.id}" th:method="delete">
								<input type="hidden" name="_method" value="delete" /> <input type="number" th:field="${reservation.id}" hidden="true" />
								<button type="submit">delete</button>
							</form>
						</td>
					</tr>
				</table>
			</div>

			<div>
				<form action="#" th:action="@{/realiseReservation/}+${reservation.id}" th:method="post">
					<!-- <input type="hidden" name="_method" value="post" /> <input type="number" th:field="${reservation.id}" hidden="true" /> -->
					<!-- is this better than just a path param?? -->
					<button type="submit">Realise</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>