<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/layout">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function sayHello(value) {
		var currentTotal = document.getElementById("total").value;
		document.getElementById("total").value = +currentTotal + +value;
	}

	function subTotal(value) {
		var select = document.getElementById("roomRateSelect-" + value);
		var subTotal = 0;

		for (i = 0; i < select.length; i++) {
			if (select[i].selected) {
				subTotal = subTotal + +select[i].id;
			}
		}

		document.getElementById("roomRateSelectSubTotal-" + value).value = subTotal;
	}

	function changedDate() {
		var startDate = document.getElementById("desiredReservationStartDate");
		var endDate = document.getElementById("desiredReservationEndDate");

		document.getElementById("filterByDate").href = "/hotelreservation/reservation/start/"
				+ startDate.value + "/end/" + endDate.value;
	}
	
	   $(document).ready(function() {
		   $("table").selekt({
			   children: "td",           // Elements to target (default: "tbody tr")
			   className: "selected",    // Desired CSS class  (default: "selected")
			   onSelect: function(sel) { // Useful callback
			     $("span").text(sel.length + ' in ' + this.id);
			   //alert(sel.length + ' in ' + this.id);
			   }
			 });
		 });
	/*]]>*/
</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="column">

			<form action="#" th:action="@{/reservation}" th:object="${reservation}" method="post">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
				<p>
					Start Date: <input id="desiredReservationStartDate" type="date" name="startDate" th:value="2018-04-13" th:onClick="'javascript:changedDate();'" /> End
					Date: <input id="desiredReservationEndDate" type="date" name="endDate" th:value="2018-04-15" th:onClick="'javascript:changedDate();'" /> <a
						th:id="filterByDate" th:onClick=" ' javascript:changedDate();'   " th:text="Filter"> </a>
					<!-- add OnLoad -->
				</p>

<!-- 				<div th:each="roomRateCombo : ${roomRatesPerRoom}">
					<p>
						Room Number: <label th:text="${roomRateCombo.key.roomNumber} + ' - ' + ${roomRateCombo.key.description}"></label>
					</p>

					<p>
						<select name="wgtmsr" class="form-control" multiple="multiple" th:id="'roomRateSelect-' + ${roomRateCombo.key.roomNumber}" size="12"
							th:field="${reservation.roomRates}" th:onChange="'javascript:subTotal(\'' + ${roomRateCombo.key.roomNumber} + '\');'">
							onChange="showLimits()"

							It's odd having the option value set to roomRate.id and the id to roomRate.value, but if the ID is not set than the roomRates are not added to the reservation 
							<option th:each="roomRate : ${roomRateCombo.value}" th:value="${roomRate.id}" th:id="${roomRate.value}"
								th:text="${roomRate.day} + ' - ' + ${roomRate.value} + ' - ' + ${roomRate.room.description}"
								th:onClick="'javascript:sayHello(\'' + ${roomRate.value} + '\');'"></option>
						</select>
					</p>

					<p>
						Sub Total: <input th:id="'roomRateSelectSubTotal-' + ${roomRateCombo.key.roomNumber}" type="number" />
					</p>
				</div> -->
				
				
					<table id="table_1" >
					
					
			<!-- 					  <tr th:each="day : ${roomRatesAsMapByDates}">
								  	<th:block th:each="roomRate : ${day.value}">
								   		<td th:text="${roomRate.day}">A Smoke Test'</td>
								   	</th:block> 
								</tr> -->
								
<!-- 								  <tr th:each="day : ${roomRatesAsMapByDates}">
								  
								  	<th:block th:each="roomRate : ${day.value}">
								   		<td th:text="${roomRate.room.roomNumber}">A Smoke Test'</td>
								   	</th:block> 
								</tr> -->
								
								
<!-- 								  <tr th:each="day : ${roomRatesAsMapByDates}">
								 	 <td th:text="${day.key}">A Smoke Test'</td>
								  
								  	<th:block th:each="roomRate : ${day.value}">
								   		<td th:text="${roomRate.room.roomNumber} + ' - ' +  ${roomRate.value} ">A Smoke Test'</td>
								   	</th:block> 
								</tr> -->
								
								
								
									<tr >
								 	 <td th:text="asdas">A Smoke Test'</td>
								  
								  	<th:block th:each="day : ${roomRatesAsMapByDates}">
									  	<th:block th:each="roomRate : ${day.value}">
									   		<td th:text="${roomRate.room.roomNumber} ">A Smoke Test'</td>
									   	</th:block> 
							   	  	</th:block> 
								</tr>

								  <tr th:each="day : ${roomRatesAsMapByDates}">
								 	 <td th:text="${day.key}">A Smoke Test'</td>
								  
								  	<th:block th:each="roomRate : ${day.value}">
								   		<td th:text="${roomRate.room.roomNumber} + ' - ' +  ${roomRate.value} ">A Smoke Test'</td>
								   	</th:block> 
								</tr>
								
								

					
<!-- 					<th:block th:each="day : ${roomRatesAsMapByDates}">
 						<tr th:each="roomRate : ${day.value}">
   							<td th:text="day">A Smoke Test'</td>
   							<td th:text="${roomRate.day} + ' - ' +  ${roomRate.value} ">A Smoke Test'</td>
						</tr>
					</th:block> -->
					
						<!--  <tr th:each="roomRateCombo : ${roomRatesPerRoom}">
   							<td th:text="${roomRateCombo.key.roomNumber} + ' - ' + ${roomRateCombo.key.description}">A Smoke Test'</td>
   							<td th:text="${roomRateCombo.key.roomNumber} + ' - ' + ${roomRateCombo.key.description}">A Smoke Test'</td>
   							<td th:text="${roomRateCombo.key.roomNumber} + ' - ' + ${roomRateCombo.key.description}">A Smoke Test'</td>
						</tr> -->
						
						

					
			<!-- 	<div th:each="roomRateCombo : ${roomRatesPerRoom}">
					<p>
						Room Number: <label th:text="${roomRateCombo.key.roomNumber} + ' - ' + ${roomRateCombo.key.description}"></label>
					</p>

					<p>
						
						
					
					
						<select name="wgtmsr" class="form-control" multiple="multiple" th:id="'roomRateSelect-' + ${roomRateCombo.key.roomNumber}" size="12"
							th:field="${reservation.roomRates}" th:onChange="'javascript:subTotal(\'' + ${roomRateCombo.key.roomNumber} + '\');'">

							<option th:each="roomRate : ${roomRateCombo.value}" th:value="${roomRate.id}" th:id="${roomRate.value}"
								th:text="${roomRate.day} + ' - ' + ${roomRate.value} + ' - ' + ${roomRate.room.description}"
								th:onClick="'javascript:sayHello(\'' + ${roomRate.value} + '\');'"></option>
						</select>
					</p>
				</div> -->
				
				
				</table>
				
				
				<!-- 				
			<table id="table_1" >
			  <tr>
			  	<td>1 SELECT ME</td>
			  	<td>1 SELECT ME</td>
			  </tr>
			  
			  
			  
			  <tr><td>2 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>3 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>4 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>5 SELECT ME</td><td>1 SELECT ME</td></tr>
			  <tr><td>6 SELECT ME</td><td>1 SELECT ME</td></tr>
			  
			  <tr th:each="smokeTest : ${smokeTests}">
   <td th:text="${smokeTest.name}">A Smoke Test'</td>
</tr>

			</table> -->
			
			
			
			

				<p>
					<!-- hidden field to make sure the ID gets passed back to the controller when submit is called.  -->
					<input type="number" th:field="${reservation.id}" hidden="true" /> <input type="date" th:field="${startDate}" th:value="2008-03-09" hidden="true" />
			<!-- 		<input type="number" th:field="${reservation.mainGuest.id}" hidden="true" />  -->
					<input type="text" th:field="${reservation.reservationStatus}" hidden="true" /> 
					<input type="date" th:field="${reservation.createdOn}" hidden="true" /> 
					Guest First Name: <input type="text" th:field="${reservation.firstName}" required="required" /> Guest Last Name: <input type="text"
						th:field="${reservation.lastName}" required="required" />
				</p>

				<p>
					<input type="submit" value="Submit" />
				</p>

			</form>


			<!-- to do add created by etc -->

			<!-- 			<div>
				<table>
					<tr>
						<td><label>Id</label></td>
						<td><label>First Name</label></td>
						<td><label>Last Name</label></td>
						<td><label>Start Date</label></td>
						<td><label>End Date</label></td>
						<td><label>Created By</label></td>
						<td><label>Created On</label></td>
								<td><label>Realise</label></td>
						<td><label>Cancel</label></td>
					</tr>

					<tr th:each="reservation, iterstat: ${reservations}">
						<td><a th:href="@{/reservation/}+${reservation.id}" th:text="${reservation.id}"> </a></td>
						<td th:text="${reservation.mainGuest.firstName}"></td>
						<td th:text="${reservation.mainGuest.lastName}"></td>
						<td th:text="${reservation.startDate}"></td>
						<td th:text="${reservation.endDate}"></td>
						<td th:text="${reservation.createdOn}"></td>
						<td th:text="${reservation.createdBy}"></td>
										<td>
					<form action="#" th:action="@{/realiseReservation/}+${reservation.id}"
						th:method="get">
						<input type="hidden" name="_method" value="get" />
						<button type="submit">Realise</button>
					</form>
				</td>
						<td><a th:id="cancelReservation" th:href="@{/cancelReservation/}+${reservation.id}" th:text="Cancel"> </a></td>
					</tr>
				</table>
			</div>-->
		</div>
	</div>


</body>



</html>