<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/layout">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function sayHello(value) {
		var currentTotal = document.getElementById("total").value;
		document.getElementById("total").value = +currentTotal + +value;
	}

	function subTotal(value) {
		var select = document.getElementById("roomRateSelect-" + value);
		var subTotal = 0;

		for (i = 0; i < select.length; i++) {
			if (select[i].selected) {
				subTotal = subTotal + +select[i].id;
			}
		}

		document.getElementById("roomRateSelectSubTotal-" + value).value = subTotal;
	}

	function changedDate() {
		var startDate = document.getElementById("desiredReservationStartDate");
		var endDate = document.getElementById("desiredReservationEndDate");

		document.getElementById("filterByDate").href = "/hotelreservation/reservation/start/"
				+ startDate.value + "/end/" + endDate.value;
	}
	
	   $(document).ready(function() {
		   $("table").selekt({
			   children: "td",           // Elements to target (default: "tbody tr")
			   className: "selected",    // Desired CSS class  (default: "selected")
			   onSelect: function(sel) { // Useful callback
			     $("span").text(sel.length + ' in ' + this.id);
/* 			   alert($(sel).text()) */
			   /* alert(sel[1].innerHTML) */
			   }
			 });
		 });
	   
	   
	   function test(obj) {
		   
		   var items = [];
		   
		   const cells = document.querySelectorAll('td');
		   cells.forEach(function(cell) {
		     console.log(cell.innerHTML);
		     
		     if(cell.id && cell.classList.contains("selected")) {
		    	 items.push(cell.id)
		     	//alert(cell.id) 
		   }
		   })
		   
		  // alert(items);
		   
/* 		   var roomRates = document.getElementById("roomRateIds");
		   roomRates.value = items; */
		   
		  $("#roomRateIds").val(items);
		   
/* 		   $('#ratesForDates tr').each(function(){
			    $(this).find('td').each(function(){
			        alert
			    })
			}) */
		   
/* 		   var x = $("#ratesForDates > tbody > tr > td:first-child").map(function(){
			   return this.textContent;
			 }).get().join();
		   alert(x)
			 console.log(x); //Val1, Val2, Val3, Val4 */

/* 		   var bodies = document.getElementById("ratesForDates").tBodies;
		   var items = [];

		   for (var i = 0; i < bodies.length; i++)
		     items.push(bodies[i].getElementsByTagName("td")[0].innerText);

		   alert(items); */
		   
/* 		   while(obj.tagName.toUpperCase() !== "TABLE") {
		     obj = obj.parentNode;
		   }

		   alert(obj.id);
		     console.log(obj.id); */

		 }
	/*]]>*/
</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="column">

			<form action="#" th:action="@{/reservation}" th:object="${reservation}" method="post">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
				<p>
					Start Date: <input id="desiredReservationStartDate" type="date" name="startDate" th:value="2018-04-13" th:onClick="'javascript:changedDate();'" /> End
					Date: <input id="desiredReservationEndDate" type="date" name="endDate" th:value="2018-04-15" th:onClick="'javascript:changedDate();'" /> <a
						th:id="filterByDate" th:onClick=" ' javascript:changedDate();'   " th:text="Filter"> </a>
					<!-- add OnLoad -->
				</p>

<!-- 				<div th:each="roomRateCombo : ${roomRatesPerRoom}">
					<p>
						Room Number: <label th:text="${roomRateCombo.key.roomNumber} + ' - ' + ${roomRateCombo.key.description}"></label>
					</p>

					<p>
						<select name="wgtmsr" class="form-control" multiple="multiple" th:id="'roomRateSelect-' + ${roomRateCombo.key.roomNumber}" size="12"
							th:field="${reservation.roomRates}" th:onChange="'javascript:subTotal(\'' + ${roomRateCombo.key.roomNumber} + '\');'">
							onChange="showLimits()"

							It's odd having the option value set to roomRate.id and the id to roomRate.value, but if the ID is not set than the roomRates are not added to the reservation 
							<option th:each="roomRate : ${roomRateCombo.value}" th:value="${roomRate.id}" th:id="${roomRate.value}"
								th:text="${roomRate.day} + ' - ' + ${roomRate.value} + ' - ' + ${roomRate.room.description}"
								th:onClick="'javascript:sayHello(\'' + ${roomRate.value} + '\');'"></option>
						</select>
					</p>

					<p>
						Sub Total: <input th:id="'roomRateSelectSubTotal-' + ${roomRateCombo.key.roomNumber}" type="number" />
					</p>
				</div> -->
				
				<table id="ratesForDates" >
					<tr>
							<td>adad</td>
							<td>adad</td>
					</tr>
					  <tr th:each="day : ${roomRatesAsMapByDates}">
					 	 <td th:text="${day.key}"/>
					  
					  	<th:block th:each="roomRate : ${day.value}">
				   			<td th:id="${roomRate.id}" th:text="${roomRate != null} ? (${roomRate.room.roomNumber} + ' - ' +  ${roomRate.value}) : 'no rate' " onclick="test(this)"/>  
					   	</th:block> 
					</tr>
				</table>

				<p>
					Guest First Name: <input type="text" th:field="${reservation.firstName}" required="required" /> 
					Guest Last Name: <input type="text" th:field="${reservation.lastName}" required="required" />
				</p>

				<!-- hidden field to make sure the ID gets passed back to the controller when submit is called.  -->
				<input type="text" id="roomRateIds" th:name="roomRateIds" hidden="true"/>
				<input type="number" th:field="${reservation.id}" hidden="true" />
			    <input type="date" th:field="${startDate}" th:value="2008-03-09" hidden="true" /> 
				<input type="text" th:field="${reservation.reservationStatus}" hidden="true" />
				<input type="date" th:field="${reservation.createdOn}" hidden="true" />
				<input type="submit" value="Submit" />

			</form>


			<!-- to do add created by etc -->

			<!-- 			<div>
				<table>
					<tr>
						<td><label>Id</label></td>
						<td><label>First Name</label></td>
						<td><label>Last Name</label></td>
						<td><label>Start Date</label></td>
						<td><label>End Date</label></td>
						<td><label>Created By</label></td>
						<td><label>Created On</label></td>
								<td><label>Realise</label></td>
						<td><label>Cancel</label></td>
					</tr>

					<tr th:each="reservation, iterstat: ${reservations}">
						<td><a th:href="@{/reservation/}+${reservation.id}" th:text="${reservation.id}"> </a></td>
						<td th:text="${reservation.mainGuest.firstName}"></td>
						<td th:text="${reservation.mainGuest.lastName}"></td>
						<td th:text="${reservation.startDate}"></td>
						<td th:text="${reservation.endDate}"></td>
						<td th:text="${reservation.createdOn}"></td>
						<td th:text="${reservation.createdBy}"></td>
										<td>
					<form action="#" th:action="@{/realiseReservation/}+${reservation.id}"
						th:method="get">
						<input type="hidden" name="_method" value="get" />
						<button type="submit">Realise</button>
					</form>
				</td>
						<td><a th:id="cancelReservation" th:href="@{/cancelReservation/}+${reservation.id}" th:text="Cancel"> </a></td>
					</tr>
				</table>
			</div>-->
		</div>
	</div>


</body>



</html>