<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/layout">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function subTotal(value) {
		var select = document.getElementById("roomRateSelect-" + value);
		var subTotal = 0;

		for (i = 0; i < select.length; i++) {
			if (select[i].selected) {
				subTotal = subTotal + +select[i].id;
			}
		}

		document.getElementById("roomRateSelectSubTotal-" + value).value = subTotal;
	}

	function changedDate() {
		var startDate = document.getElementById("desiredReservationStartDate");
		var endDate = document.getElementById("desiredReservationEndDate");

		document.getElementById("filterByDate").href = "/hotelreservation/reservation/start/"
				+ startDate.value + "/end/" + endDate.value;
	}

	$(document).ready(function() {
		$("table").selekt({
			children : "td", // Elements to target (default: "tbody tr")
			className : "selected", // Desired CSS class  (default: "selected")
			onSelect : function(sel) { // Useful callback
				$("span").text(sel.length + ' in ' + this.id);
			}
		});
	});

	function test(obj) {
		var items = [];

		const cells = document.querySelectorAll('td');
		cells.forEach(function(cell) {
			if (cell.id && cell.classList.contains("selected")) {
				items.push(cell.id)
			}
		})

		$("#roomRateIds").val(items);
	}
	/*]]>*/
</script>
</head>
	<body>
		<div layout:fragment="content">
			<div class="column">
	
				<form action="#" th:action="@{/reservation}" th:object="${reservation}" method="post">
					<p>
						Start Date: <input id="desiredReservationStartDate" type="date" name="startDate" th:value="${startDate}" th:onClick="'javascript:changedDate();'" /> End
						Date: <input id="desiredReservationEndDate" type="date" name="endDate" th:value="${endDate}" th:onClick="'javascript:changedDate();'" /> <a
							th:id="filterByDate" th:onClick=" ' javascript:changedDate();'   " th:text="Filter"> </a>
						<!-- add OnLoad -->
					</p>
					
					<table id="ratesForDates" >
						<tr>
							<td>Date</td>
							<td>Rooms</td>
						</tr>
						<tr>
							<td></td>
							<th:block th:each="roomNumber : ${roomNumbers}">
				   				<td th:text="${roomNumber}"/>  
						 	</th:block> 
						</tr>
						<tr th:each="day : ${roomRatesAsMapByDates}">
						 	 <td th:text="${day.key}"/>
						  
						  	<th:block th:each="roomRate : ${day.value}">
					   			<td th:id="${roomRate.id}" th:text="${roomRate != null} ? ${roomRate.value} : 'no rate' " onclick="test(this)"/>  
						   	</th:block> 
						</tr>
					</table>
	
					<p>
						Guest First Name: <input type="text" th:field="${reservation.firstName}" required="required" /> 
						Guest Last Name: <input type="text" th:field="${reservation.lastName}" required="required" />
					</p>
	
					<!-- hidden field to make sure the ID gets passed back to the controller when submit is called.  -->
					<input type="text" id="roomRateIds" th:name="roomRateIds" hidden="true"/>
					<input type="number" th:field="${reservation.id}" hidden="true" />
				    <input type="date" th:field="${startDate}" th:value="2008-03-09" hidden="true" /> 
					<input type="text" th:field="${reservation.reservationStatus}" hidden="true" />
					<input type="date" th:field="${reservation.createdOn}" hidden="true" />
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
	</body>
</html>