<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<form action="#" th:action="@{/addRoomRate}" th:object="${roomRate}"
		method="post">
		<p>
			Description: <input type="text" th:field="*{description}" />
		</p>

		<p>
			Room Number: <select class="form-control" th:field="${roomRate.room}"
				id="dropOperator">
				<!-- <option value="0" th:text="selectoperator"></option> -->
				<option th:each="room : ${rooms}" th:value="${room.id}"
					th:text="${room.roomNumber}"></option>
			</select>
		</p>

		<p>

			Currency: <select class="form-control"
				th:field="${roomRate.currency}" id="dropOperator">
				<!-- <option value="0" th:text="selectoperator"></option> -->
				<option th:each="currency : ${currencies}"
					th:value="${currency.toString()}" th:text="${currency.toString()}"></option>
			</select>
		</p>

		<p>
			Value: <input type="number" th:field="*{value}" />
		</p>
		<p>
			Date: <input type="date" th:field="*{day}" />
		</p>


		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>

</html>