<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/adminLayout">

<body>
	<div layout:fragment="content">

		<div class="column">
			<p>Users</p>

			<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
				<p>
					Name: <input type="text" th:field="${user.name}" />
				</p>
<!-- 				<p>
					User Type: <select class="form-control" th:field="${user.userType}" id="dropOperator">
						<option th:each="userType : ${userTypes}" th:value="${userType.id}" th:text="${userType.name}"></option>
					</select>
				</p> -->
				
				<p>
					User Type: <select class="form-control" th:field="${user.roles}" id="dropOperator">
						<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
					</select>
				</p>

				<p>
					User Name: <input type="text" th:field="*{userName}" />
				</p>
				<p>
					Password: <input type="text" th:field="*{password}" />
				</p>

				<p>
					<input type="submit" value="Submit" />
				</p>
			</form>

			<div>
				<table>
					<tr>
						<td><label>Id</label></td>
						<td><label>Name</label></td>
						<td><label>User Name</label></td>
						<td><label>User Type</label></td>
						<td><label>Enabled</label></td>
						<td><label>Created On</label></td>
						<td><label>Delete</label></td>
					</tr>

					<tr th:each="data, iterstat: ${users}">
						<td th:text="${data.id}" th:id="|td${iterstat.index}|"></td>
						<td th:text="${data.name}" th:id="|td${iterstat.index}|"></td>
						<td><a th:href="@{/user/}+${data.id}" th:text="${data.userName}"> </a></td>
						<!-- <td th:text="${data.userType.name}" ></td> -->
						<td th:text="${data.enabled}" th:id="|td${iterstat.index}|"></td>
						<td th:text="${data.createdOn}" th:id="|td${iterstat.index}|"></td>
						<td>
							<form action="#" th:action="@{/userDelete/}+${data.id}" th:method="delete">
								<input type="hidden" name="_method" value="delete" />
								<button type="submit">delete</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="column">
			<p>User Types</p>

			<form action="#" th:action="@{/addRole}" th:object="${role}" method="post">
				<p>
					User Type Name: <input type="text" th:field="${role.name}" />
				</p>
				<p>
					User Type Description: <input type="text" th:field="*{description}" />
				</p>
				<p>
					Enabled: <input type="checkbox" th:field="*{enabled}" />
				</p>
				<p>
					<input type="submit" value="Submit" />
				</p>
			</form>

			<div>
				<table>
					<tr>
						<td><label>Id</label></td>
						<td><label>Name</label></td>
						<td><label>Description</label></td>
						<td><label>Enabled</label></td>
						<td><label>Delete</label></td>
					</tr>

					<tr th:each="data, iterstat: ${roles}">
						<td th:text="${data.id}" th:id="|td${iterstat.index}|"></td>
						<td th:text="${data.name}" th:id="|td${iterstat.index}|"></td>
						<td th:text="${data.description}" th:id="|td${iterstat.index}|"></td>
						<td th:text="${data.enabled}" th:id="|td${iterstat.index}|"></td>
						<td>
							<form action="#" th:action="@{/userTypeDelete/}+${data.id}" th:method="delete">
								<input type="hidden" name="_method" value="delete" />
								<button type="submit">delete</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>